<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
        </httpErrors>
        <httpRedirect enabled="false" destination="intranet-blume.ddns.net" exactDestination="true" />
    </system.webServer>
    <system.web>
        <globalization enableClientBasedCulture="true" fileEncoding="windows-1254" />
        <trust level="High" />
    </system.web>
</configuration>
