body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}
.container {
    padding: 2rem;
}
.search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
/* Barra de pesquisa */
input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 20px;
    border: 2px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}
button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    background: #AEEA00;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
button:hover {
    background: #9ccc00;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background: #fff;
}
th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}
th {
    background: #f4f4f4;
}

tr:hover{
    background: #AEEA00;
}


    table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        position: relative;
    }

    th, td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    th {
        position: relative;
    }

    /* Estilo para o "handle" de redimensionamento */
    th .resizer {
        position: absolute;
        right: 0;
        top: 0;
        width: 5px;
        height: 100%;
        cursor: col-resize;
        user-select: none;
    }


.no-results {
    text-align: center;
    color: #888;
    font-size: 20px;

    margin-top: 10rem;
}
header {
    background: black;
    border-block-end: 4px solid #AEEA00;
    text-align: center;
}

header > img{
    width: 180px;
    margin-top: -5px;
}

header > h1{
    color: white;
    margin-top: -10px;
}

/*barra de navegação do navegador*/
body::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background:#333;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #AEEA00;
    border-radius: 20px;
  }

  .icon1 > i{
    color: black;
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
  }
  a{
    text-decoration: none;
  }
  button{
    font-size: 17px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
  }

.icon2 > i{
    color: black;
    font-size: 55px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.icon2 > i:hover{
    color: #AEEA00;
    font-size: 55px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

h2{
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
  .modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110dvh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;

}
form > label{
    font-size: 16px;
    font-weight: bold;
    padding: 50px;
}   

form > input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
input:hover{
    border-color: #9ccc00;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.modal-content {
    background: #fff;
    padding: 50px;
    border-radius: 15px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    font-size: 1.9rem;
    cursor: pointer;
}

.close-button:hover {
    color: #ff0000;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.9rem;
    border-radius: 100%;
}
#dataAdmissao {
    width: 94%; /* Ocupa toda a largura disponível */
    padding: 10px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 20px; /* Bordas arredondadas */
    background-color: #f9f9f9; /* Fundo suave */
    color: #333; /* Cor do texto */
    outline: none; /* Remove o contorno padrão */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Efeitos suaves */
}

#dataAdmissao:focus {
    border-color: #007BFF; /* Cor da borda no foco */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra ao focar */
    background-color: #fff; /* Fundo branco ao focar */
}

#dataAdmissao:hover {
    border-color: #9ccc00; /* Borda ao passar o mouse */
}
