
/* Configuração de plano de fundo */
body{
  height: 100vh;
  background: url(../wallpapers/2160.png);  
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
}

/*mobile*/ 
@media (max-width: 800px){
  body{
      background: url(../wallpapers/mobile.png);
      background-position: 7vh;
      background-size: 90%;
      background-repeat: no-repeat;
      background-color: black;
}
}
/*motor de renderização de imagens*/