
/* Configuração de plano de fundo */
body{
  height: 100vh;
  background: url(../desktop.png);  
  background-position: center;
  background-size: 1800px;
}

/*mobile*/ 
@media (max-width: 800px){
  body{
      background: url(../banner_mobile.png);
      background-position: center;
      background-size: 1200px;
  
}
}
/*motor de renderização de imagens*/