*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

/* Overlay de fundo */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

/* Estilo do popup */
.link {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background-color: #000000;
    border: 2px solid #AEEA00;
    color: #333;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    transition: all 1.3s;
}

.link h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #AEEA00;
}

.link p {
    font-size: 2em;
    margin: 15px 0;
    color: white;
}

.link a {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #AEEA00;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.link a:hover {
    background-color: #9ccc00ad;
    color: white;
}

.link button {
    margin-top: 20px;
    padding: 8px 15px;
    font-size: 14px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    
} .link button:hover{
    background-color: #b71c1c;
}

.popup button:hover {
    background-color: #d32f2f;
    color: black;
}